

body {
    margin: 0;
    padding: 0;
}

/* game html */

#playground {
    height: 100vh;
    width: 100vh;
    position: relative;
    background-color: #59c6d9;
    overflow: hidden;
    background-image: url("../images/background-game.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.info {
    color: #d97e59;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

#shark{
    position: absolute;
    background-color: #d97e59;
    background-image: url("../images/fin.png");
    background-size: contain;
}

.surfer {
    position: absolute;
    background-color: #a459d9;
    background-image: url("../images/surfer.png");
    background-size: contain;
}

.helicopter{
    position: absolute;
    background-color: #d9bd59;
    background-image: url("../images/helicopter.png");
    background-size: contain;
}


/* gameover html */

#gameover-bg {
    background-color: #110035;
}

#game-over {
    width: 100%;
}

#play-again {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1177fd;
    -webkit-text-stroke: 0.25px #110035;
}


/* timeout html */

#still-hungry {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
    color: #7fffe0;
    -webkit-text-stroke: 0.25px #4ca48f;
}

a {
    color: #d97e59;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}